<div class="scrollable">
  <div class="scrollable-content">
	<div class="list-group">
	  <div class="list-group-item homelogo" >
		<h1>ENCUENTRA A TU MEJOR ENTRENADOR<br/>
		<small>Libera tu máximo potencial</small>
		</h1>
		<div class="search_landing ">
		<div class="col-sm-2">&nbsp;</div>
			<form action="" id="buscar_geo" class="form-inline justified col-sm-10" role="form">

			<input
			  bs-form-control
			  type="text" 
			  ng-model="practicar.comuna"
			  label="" 
			  label-class="invisible" 
			  class="col-sm-12"
			  placeholder="Comuna donde practicar"
			 />
			
			<input
			  bs-form-control
			  type="text" 
			  ng-model="practicar.deporte"
			  label="" 
			  label-class="invisible" 
			   class="col-sm-12"
			  placeholder="Deporte a practicar"
			 />
			 <div>
			 <button type="button" ng-model="practicar.buscar"  class="btn btn-craack col-sm-4">Buscar</button>
			 </div>

			</form>

			<div class="col-sm-1">&nbsp;</div>
		</div>
	  </div>

	   <div class=" media homescreen">
	   
	  <div class="row" >
		<h2>¡CONVIERTE EN UN CR<b>AA</b>CK, HOY!<br/>
		<small>Un CRAACK es aquella persona con cualidades excepcionales en un campo determinado</small>
		</h2>
	  </div>

		<div class="row">
			<div class="col-xs-8 col-sm-8 v1-11" ></div>
			<div class="col-xs-4 col-sm-4 v1-13" ></div>
		
			<div class="col-xs-4 col-sm-4 v1-15" /></div>
			<div class="col-xs-4 col-sm-4 v1-17" /></div>
			<div class="col-xs-4 col-sm-4 v1-14" /></div>
		
			<div class="col-xs-4 col-sm-4 v1-16" /></div>
			<div class="col-xs-8 col-sm-8 v1-12" /></div>
		</div>


		<h2>Un CR<b>AA</b>CK, no nace,<br/>
		 	Un CR<b>AA</b>CK se hace.
		</h2>


	 
		
		<p>
			Bienvenido a la comunidad de amantes del deporte y bienestar. <br>
			Porque creemos en nosotros, creemos en ti. <br>
			Nuestra meta es contactarte con la persona que liberará tu máximo potencial. <br>
			Te damos la oportunidad de lograr tus objetivos, de sentirte orgullo de tú esfuerzo, de ser feliz.
		</p>

		<p>
			Hoy estamos comenzando al igual que tú. Esta tarea no es fácil, tú lo sabes. <br>
			Apóyanos, coméntanos, estamos para escucharte y aprender de ti.
		</p>

		<p>
			Únete a la libertad de poder elegir, de estar informados y de vivir una vida sana.<br>
			Únete a la comunidad de CRAACK
		</p>
		

	  </div>
	</div>

	<div class="navbar-bottom">
            <div class="row">
              <div class="col-sm-3 footer-left">
                <a href="http://craack.com/" class="img-circle"><i class="fa fa-instagram fa-navbar"></i></a>
                <a href="http://craack.com/" class="img-circle"><i class="fa fa-facebook fa-navbar"></i></a>
                <a href="http://craack.com/" class="img-circle"><i class="fa fa-linkedin fa-navbar"></i></a>
              </div>
              <div class="col-sm-6">
                <h2>CR<b>AA</b>CK</h2>
                <p>powered by Sailing Branding SPA</p>
                <p>Copyright 2014, All rights reserved. 218 9th Street, 94103 San Francisco CA</p>
              </div>
              <div class="footer-right col-sm-3">
                <a href="https://github.com/mcasimir/mobile-angular-ui/issues" class="btn btn-navbar">ENTRENADOR</a> 
                <a href="https://github.com/mcasimir/mobile-angular-ui/issues" class="btn btn-default">SIGN UP</a>
                <a href="https://github.com/mcasimir/mobile-angular-ui/issues" class="btn btn-default">LOGIN</a>
              </div>
            </div>
          </div>
  </div>
</div>